
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Serif:opsz@8..144&display=swap');

:root {
    --primary-color: #3498DB;
    --secondary-color: #1D1D5E;
    --accent1-color: #3D2600;
    --accent2-color: #95A5A6;

    --heading-font: 'Roboto Serif', Serif;
    --paragraph-font: 'Montserrat', Sans Serif;

    --nav-background-color: #fff;
    --nav-link-color:#F39C12;
    --nav-hover-link-color: #fff; 
    --nav-hover-background-color: #146167;
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: 120px 1fr 2fr;

}

header img {
    margin: 0 0.5rem 0 4rem;
}

.icon_1 {
    display: flex;
}

.icon_1 p {
    text-align: left;
}

.icon_1 img {
    width: 10%;
    float: left;
}

.icon_2 img {
    width: 6%;
    float: left;
}

.icon_2 p {
    text-align: left;
}

.icon_3 img {
    width: 6%;
    float: left;
}

.icon_3 p {
    text-align: left;
}

.left {
    display: grid;
}

.left img {
    width: 100%;
    height: max-content;
}

.left h2 {
    padding: 0%;
    position: sticky;
    text-align: left;
}

.map {
    position: relative;
    align-items: center;
}

.employees {
    display: grid;
}

.employees img {
    width: 100%;
    align-items: center;
}

.placeholder-1 img {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px 10px 10px;

}

.placeholder-1 h2 {
    width: 506px;
    height: 115px;
    color: #3B4754;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    text-align: left;
}

main {
    display: grid;
}

main h1 {
    position: relative;
    color: var(--secondary-color);
}

.form1 {
    text-decoration: none;
    width: 70%;
    margin-top: 0;
    align-items: center;
    margin: 100px;
    position: relative;
    display: grid;
}

.grid1 {
    display: flex;
    flex-flow:row;


}

.grid {
    display: flex;
    background-color: var(--accent2-color);
    justify-content: space-around;
    flex-wrap: nowrap;
}

.grid img {
    height: auto;
    width: 100px;
    float: left;
}

body {
    max-width: 860px;
    font-family: var(--paragraph-font);
}


h2 {
    padding: 10px;
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-align: center;

}

.sociallinks img {
    width: 25%;
    height: auto;
    display: flex;
    text-decoration: none;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    grid-column: 3;
    flex-grow: 1;
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
    align-items:flex-end;
    
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

#hero {
    position: relative;
    border: 2px rgb(205, 90, 90);
}

#hero article img {
    width: 100px;
    height: fit-content;
    float: right;
    padding: 10px;
    justify-content: space-around;
    }

article {
    position: absolute;
    top: 40px;
    margin: 40px;
    display: flex;  
    background-color:rgba(149, 166, 167, 0.4);
}

section {
    padding: 20px;
}

section p {
    text-align: right;
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: azure;
}

#hero article p {
    color: #fff;
}

figure {
    margin: auto;
    flex-flow: column;
    border: thin #c0c0c0 solid;
    padding: 5px;

}

.figures {
    display: flex;
}

.figures img {
    max-width: 220px;
}

figcaption {
    background-color: var(--accent1-color);
    color: var(--nav-background-color);
    font: var(--paragraph-font);
    padding: 3px;
    text-align: center;
}
    
form {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    display: grid;
    
}
    
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

label {
    padding: 0.5rem;
    color: var(--secondary-color);
    font-size: 1em;
    text-align: left;
    padding-right: 1rem;
}
    
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
    
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
    
button {
    margin: 1rem;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}
    
button:hover {
    background-color: var(--nav-hover-background-color);
}
    
footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8rem;
    color: #777;
    border-top: 1px solid #ccc;
}
    
.form-item {
    display: grid;
    align-items: center;
}
    
.column1 {
    margin: 0.5rem;
}