
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Serif:opsz@8..144&display=swap');

:root {
    --primary-color: #3498DB;
    --secondary-color: #1D1D5E;
    --accent1-color: #3D2600;
    --accent2-color: #95A5A6;

    --heading-font: 'Roboto Serif', Serif;
    --paragraph-font: 'Montserrat', Sans Serif;

    --nav-background-color: #fff;
    --nav-link-color:#F39C12;
    --nav-hover-link-color: #fff; 
    --nav-hover-background-color: #146167;
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: 120px 1fr 2fr;

}

header img {
    margin: 0 0.5rem 0 4rem;
}

.grid {
    display: flex;
    background-color: var(--accent2-color);
    justify-content: space-around;
    flex-wrap: nowrap;
}

.grid img {
    height: auto;
    width: 100px;
    float: left;
}

body {
    max-width: 860px;
    font-family: var(--paragraph-font);
}


h2 {
    padding: 10px;
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-align: center;

}

.sociallinks img {
    width: 25%;
    height: auto;
    display: flex;
    text-decoration: none;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    grid-column: 3;
    flex-grow: 1;
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
    align-items:flex-end;
    
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

#hero {
    position: relative;
    border: 2px rgb(205, 90, 90);
}

#hero article img {
    width: 100px;
    height: fit-content;
    float: right;
    padding: 10px;
    justify-content: space-around;
    }

article {
    position: absolute;
    top: 40px;
    margin: 40px;
    display: flex;  
    background-color:rgba(149, 166, 167, 0.4);
}

section {
    padding: 20px;
}

section p {
    text-align: right;
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: azure;
}

#hero article p {
    color: #fff;
}

figure {
    margin: auto;
    flex-flow: column;
    border: thin #c0c0c0 solid;
    padding: 5px;

}

.figures {
    display: flex;
}

.figures img {
    max-width: 220px;
}

figcaption {
    background-color: var(--accent1-color);
    color: #fff;
    font: var(--paragraph-font);
    padding: 3px;
    text-align: center;
}